<div *ngIf="movie; else loading">
    <div class="content">
        <div class="m__card">
            <div class="card-header">{{movie.title}}</div>
            <div class="content_wrapper">
                <div class="movie__poster">
                    <img [src]="movie.poster" alt="Card image">
                </div>
                <div style="margin-left: 10px;">
                    <div class="movie__right">{{movie.Plot}}</div>
                    <div class="movie__right"><span style="color: dodgerblue;">Director:</span> {{movie.director}}</div>
                    <div class="movie__right"><span style="color: forestgreen;">Rating:</span> {{movie.score}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="loader_wrapper">
        <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>