.page-container{
    height: 100%;
    color: whitesmoke;
    padding: 20px;
}
.movies-wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 185px);
    grid-template-rows: 1fr 1fr;
}

.single-movie{
    cursor: pointer;
    width: fit-content;
}

.loader_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 770px) {
    .movies-wrapper{
        justify-content: center;
    }
  }