.page-container {
  color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
}

.loader_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: whitesmoke;
}

li > a {
  color: whitesmoke !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: whitesmoke !important;
}

.single-movie {
  margin: 10px;
  cursor: pointer;
}

.movies-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.paginate-wrp {
  width: 100%;
  border-radius: 30px;
  padding-top: 18px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

span{
  color:azure;
}

@media(max-width:550px){
  .page-container{
    justify-content: center;
    height: unset;
  }

  .movies-wrapper{
    justify-content: center;
  }
}