<div class="page-container">
    <h1>{{type}}</h1>
    <div class="movies-wrapper" *ngIf="!isLoading; else loading">
        <div
            *ngFor="let movie of movies | paginate: { currentPage: pageNumber, itemsPerPage: pageSize, totalItems:totalCount };">
            <movie-item [movie]="movie" class="single-movie">
            </movie-item>
        </div>
    </div>
    <div style="flex: 1"></div>
    <div class="paginate-wrp">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <ng-template #loading>
        <div class="loader_wrapper">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>